@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    background-image: url('asset/konstantin-kleine-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    background-color: rgb(58, 125, 183, 0.8);
    /* background-color: rgb(14, 37, 57); */
}

body {
    width: 50%;
    height: auto;
    color: aliceblue;
    background-color: rgb(58, 125, 183, 0.8);
    border-left: 0.5px solid rgb(101, 101, 101);
    border-right: 0.5px solid rgb(101, 101, 101);
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: justify;
    margin: 0 auto;
}

/* Navigation Bar */

nav {
    width: 100%;
    height: 50px;
    background-color: rgb(20, 78, 128, 0.7);
    text-align: center;
    margin-right: 10px;
    padding: 14px;
}

nav li {
    display: inline;
    list-style-type: none;
    font-size: 0.9rem;
    margin: 50px 20px 20px 20px;
    padding: 10px;
}

/* Links */
a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    color: rgb(246, 203, 152);
    transition-duration: 0.5s;
}

/* Hero Section */

.hero {
    text-align: center;
    margin: 40px auto;
}

img {
    border-radius: 50%;
    /* border: 1px solid white; */
    margin: 50px auto 20px auto;
}

.skills-image,
.hobbies-image {
    width: 30vw;
    height: auto;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    opacity: 0.9;
}

/* Headings & Text */

h1 {
    color: bisque;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    color: bisque;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto 40px auto;
    padding: 5px;
}

p {
    max-width: 35vw;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    /* cursor: pointer; */
}

/* Lists */

li {
    max-width: 30vw;
    list-style: square inside;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
}

/* Bio */

.about-section {
    /* border: 1px solid rgb(101, 101, 101); */
    width: 100%;
    text-align: justify;
    margin-top: 30px;
    padding: 0 70px;
}

/* Skills & Hobbys */

.skills-section {
    /* border: 1px solid rgb(101, 101, 101); */
    max-width: 35vw;
    margin: 0 auto 50px auto;

}

.skills-section li {
    font-size: 1.2rem;
}

/* Footer */

footer {
    font-size: 0.8rem;
    text-align: center;
    color: white;
    background-color: rgb(17, 67, 111, 0.5);
}

/* Contacts Links */

.nav-contacts {
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 15px 0;
}

/* Copyright */

footer p {
    font-weight: 200;
    font-size: 0.75rem;
    margin-top: 10px;
}

form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    margin: 20px auto 100px auto;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(20, 78, 128, 0.5);
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    margin-left: 12px;
}

input,
textarea {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
    outline: none;
}

button {
    width: 100px;
    height: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    cursor: pointer;
    text-transform: uppercase;
}


button:hover {
    background-color: rgb(246, 203, 152);
    color: black;
    font-weight: 500;
    transition-duration: 0.5s;
}